.Container_SearchList {
    background-color: rgba(0, 0, 0, 1);
    width: 90.75%;
    position: absolute;
    top: 2.7rem;
    height: fit-content;
    z-index: 91;
    color: white;
    border-radius: 10px;
}

.titleItem {
    margin: 0;
    padding: 0.5rem;
    cursor: pointer;
    border-radius: 10px;
}

.titleItem:hover {
    background-color: rgba(96, 93, 93, 0.816)
}